<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>securitylite</name>
    <displayName><![CDATA[Security Lite]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[This module increases the overall security of your PrestaShop website.]]></description>
    <author><![CDATA[Mathias Reker]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
